<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Earth With LSTM And Large Amount Of Points!!</title>
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.86.1/Build/Cesium/Cesium.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.86.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>
<body>
    <div id="cesiumContainer" class="fullSize" style="width: 80%;"></div>
    <form id="sat_form" action="" method="GET">
        <label for="sat_form">
            NORAD_CAT_ID (5 digits): <input type="text" id="norad_cat_id" />
            DATE: <input type="date" id="date" />
            <button onclick="generate();">Generate Czml</button>
        </label>
    </form>
    <script>
        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI2Njg2MzMzYS0xMDJlLTQ3MmMtYjBiNi04NTNhMzVjOWUwMjkiLCJpZCI6NzE5ODMsImlhdCI6MTYzNTY5MDMxM30.slrT50oIo0mbtKbNGidcFyPeMWNkgjW6NH48CCVLjmE';

        var viewer = new Cesium.Viewer('cesiumContainer', {
            shouldAnimate: true,
        });
        viewer.dataSources.add(Cesium.CzmlDataSource.load("static/data/result.czml"));

        var clock = viewer.clock;
        var timeline = viewer.timeline;
        var pointCollection;

        var initialTime = clock.currentTime;
        var startTime = clock.startTime;
        var stopTime = clock.stopTime;

        window.onload = function () {
            /*pointCollection = viewer.scene.primitives.add(new Cesium.PointPrimitiveCollection());

            for (var longitude = -180; longitude < 180; longitude++) {
                var color = Cesium.Color.PINK;
                if ((longitude % 2) === 0) {
                    color = Cesium.Color.CYAN;
                }
                for (var latitude = -90; latitude < 90; latitude++) {
                    pointCollection.add({
                        position: Cesium.Cartesian3.fromDegrees(longitude, latitude, 1000000), // Unit: m
                        color: color
                    });
                }
            }
            viewer.scene.preRender.addEventListener(animatePoints);*/
        }
        /*function animatePoints() {
            var seconds = Cesium.JulianDate.secondsDifference(clock.currentTime, initialTime);
            var positionScratch = new Cesium.Cartesian3();
            var points = pointCollection._pointPrimitives;
            var length = points.length;
            for (var i = 0; i < length; ++i) {
              var point = points[i];
              Cesium.Cartesian3.clone(point.position, positionScratch);
              Cesium.Cartesian3.add(
                  positionScratch,
                  new Cesium.Cartesian3(1000 * seconds, 1000 * seconds, 1000 * seconds),
                  positionScratch);
              point.position = positionScratch;
            }
        }*/

        // https://www.cnblogs.com/fuckgiser/p/5669920.html
        // https://cesium.com/learn/cesiumjs/ref-doc/Timeline.html
        function tick() { // Celestrak上是拽时间轴控制时间 暂且不管 先完成主体功能
            if(Cesium.JulianDate.greaterThan(clock.currentTime, stopTime)) {
                startTime = Cesium.JulianDate.addDays(startTime, 1.0, startTime);
                stopTime = Cesium.JulianDate.addDays(stopTime, 1.0, stopTime);
                timeline.zoomTo(startTime, stopTime);
            }
            else if(Cesium.JulianDate.lessThan(clock.currentTime, startTime)) {
                startTime = Cesium.JulianDate.addDays(startTime, -1.0, startTime);
                stopTime = Cesium.JulianDate.addDays(stopTime, -1.0, stopTime);
                timeline.zoomTo(startTime, stopTime);
            }
            Cesium.requestAnimationFrame(tick);
        }

        // https://github.com/kujosHeist/tle2czml
        function generate() {
            $.ajax({
                url: "{{ url_for('compute.generate') }}",
                type: "GET",
                data: {
                    "norad_cat_id": $("#norad_cat_id").val(),
                    "date": $("#date").val(),
                },
                dataType: 'json',
                success: function(data) {
                    if(data['code'] !== 200)
                        alert(data['msg']);
                    else
                        alert('Successfully generated!');
                },
                error: function() {
                    alert('Failed to access.');
                }
            });
        }

        Cesium.requestAnimationFrame(tick);
    </script>
</body>
</html>